[workspace]
members = [
	".",
	"codegen",
]

[package]
name = "include-flate"
version = "0.1.3"
authors = ["SOFe <sofe2038@gmail.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/SOF3/include-flate.git"
homepage = "https://github.com/SOF3/include-flate"
description = "A variant of include_bytes!/include_str! with compile-time deflation and runtime lazy inflation"
categories = ["compression", "rust-patterns", "memory-management"]
keywords = ["compression", "deflate", "macro", "include", "assets"]

[dependencies]
include-flate-codegen-exports = { version = "0.1.3", path = "codegen-exports" }
lazy_static = "1.3"
libflate = "0.1.26"

[badges]
travis-ci = {repository = "SOF3/include-flate"}

[features]
stable = ["include-flate-codegen-exports/stable"]
