[package]
name = "include-flate-codegen"
version = "0.1.4"
authors = ["SOFe <sofe2038@gmail.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/SOF3/include-flate.git"
homepage = "https://github.com/SOF3/include-flate"
description = "Macro codegen for the include-flate crate"

[lib]
proc-macro = true

[dependencies]
libflate = "1.0.0"
proc-macro-hack = { version = "0.5.9", optional = true }
proc-macro2 = "1.0.9"
quote = "1.0.2"
syn = { version = "1.0.16", features = ["full"] }

[features]
stable = ["proc-macro-hack"]
